@media (max-width: 768px) {
    .page__header {
        grid-template-columns: 1fr;
        text-align: center; /* Columna única en móvil */
    }

    .main__section {
        grid-template-columns: 1fr; /* Columna única en móvil */
    }

    .header__title {
        font-size: 3rem;
    }

    .header__subtitle {
        font-size: 2rem;
    }
}